.snake-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

.start-btn,
.game-over button {
  padding: 10px 20px;
  background-color: rgba(30, 30, 47, 0.7);
  width: 400px;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.start-btn:hover,
.game-over button:hover {
  background-color: white;
  color: rgba(30, 30, 47, 0.7);
  transition: 0.5s;
}

.snake-board {
  display: grid;
  grid-template-columns: repeat(100, 10px);
  grid-template-rows: repeat(100, 10px);
  background-color: rgba(30, 30, 47, 0.7);
  border: 2px solid white;
  border-radius: 10px;
  gap: 2px;
  margin-top: 20px;
}


.game-over {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-over h2 {
  color: red;
  margin-bottom: 10px;
}
